<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>{{name}}</h1>
        <input type="text" v-model='name' placeholder="姓名">
        <input type="number" v-model='age' placeholder="年龄">
        <button @click='fn'>提交</button>
        <button @click='fn2'>异步提交</button>
        <child></child>
        <adult></adult>
    </div>
</body>

</html>
<template id='adult'>
    <div>
        <h2>成年人</h2>
        <ul>
            <li v-for="(item,index) in ary" :key="index">
                姓名：{{item.name}} <br>
                年龄：{{item.age}}
            </li>
        </ul>
    </div>
</template>
<template id='child'>
    <div>
        <h2>未成年人</h2>
        <ul>
            <li v-for="(item,index) in ary" :key="index">
                姓名：{{item.name}} <br>
                年龄：{{item.age}}
            </li>
        </ul>
    </div>
</template>
<script src="../node/node_modules/vue/dist/vue.js"></script>
<script src="../node/node_modules/vuex/dist/vuex.js"></script>
<script src="../node/node_modules/axios/dist/axios.js"></script>
<script>
    /*
    state 存数据
    actions 异步操作
    mutations 函数方法
   */
    //vuex  的mutations执行的是同步 最好不要执行异步
    let adult = {
        template: '#adult',
        computed: {
            ary() {
                return this.$store.state.adultAry
            }
        },
    };
    let child = {
        template: '#child',
        computed: {
            ary() {
                return this.$store.state.childAry
            }
        },
    };
    const state = {
        count: 0,
        adultAry: [],
        childAry: []
    }
    const mutations = {
        changeAdult(state, options) {
            state.adultAry.push(options.obj)
        },
        changeChild(state, options) {
            state.childAry.push(options)
        }
    }
    const actions = {
        //这里边存储的也是一些函数 这里的函数可以是异步的
        // changeAdultFn(context,options) {
        //     // context包含 commit函数（基本用commit） 和 state
        //     console.log(arguments)
        // },
        changeAdultFn({
            commit
        }, options) { // 解构
            //通过commit 触发 mutations中的函数触发
            //只有commit能修改 store里的数据
            axios.get('http://yesno.wtf/api').then((data) => {
                if (data.dta.answer == 'yes') {
                    //根据后台返回的yes或者no来决定 name属性后面跟的是男或者女（←需求）
                    options.name += '-男'

                } else {
                    options.name += '-女'
                }
                //下一步我们要去使用 mutations中的方法 改变state中的数据
                if (options.age >= 18) {
                    commit('changeAdult', {
                        boj: options
                    })
                } else {
                    commit('changeChild', options)
                }
            }).cath(() => {
                alert('失败')
            })
            console.log(arguments)
        }
    }


    const store = new Vuex.Store({ //vuex  实例
        state: state,
        mutations
    })




    let vm = new Vue({ //根实例
        el: '#app',
        store,
        components: {
            adult,
            child
        },
        data: {
            name: "珠峰",
            age: 0
        },
        methods: {
            fn() {
                // 根据 age 来判断把数据放到哪个数组中
                let obj = {
                    name: this.name,
                    age: this.age
                }
                if (this.age >= 18) {
                    this.$store.commit('changeAdult', {
                        obj: obj,
                        a: 12
                    })
                    //                              传递的参数， 看自己的业务需求
                } else {
                    this.$store.commit('changeChild', obj)
                }
            },
            fn2() {
                //要出发actions中的函数 通过this.$store.dispatch('随影函数名',要穿的参数)  mutations（需要commit实现）
                let boj = {
                    name: this.name,
                    age: this.age
                }
                this.$store.dispatch('changeAdultFn', 1, 2, 3, 4)
                let p = this.$store.dispatch('getData')
                console.log(p)
            }
        },
    });
</script>